.banner_wrap{
    width: 100%;
    z-index: 99;
    position: relative;
    height: 500px;
}
.banner{
    position: relative;
    height: 390px;
    overflow: hidden;

}
.banner img{
    float: left;
    width: 33.33%;
}
.banner .arrow{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.banner .arrow span{
    display: flex;
    width: 30px;
    height: 40px;
    align-items: center;
    background: rgba(0,0,0,0.5);
}
.banner_box{
    width: 300%;
    position: absolute;
    left:-100%;
    transition: all 1s ease 0s;
}
.resetBannerBox{
    transition: all 0s ease 0.1s;
}
