
.icon_play:before { content: '\e800'; } /* '' */
.icon_play_circled2:before { content: '\e801'; } /* '' */
.icon_to_end:before { content: '\e802'; } /* '' */
.icon_to_start:before { content: '\e803'; } /* '' */
.icon_pause:before { content: '\e804'; } /* '' */
.icon_down_circled2:before { content: '\e805'; } /* '' */
.icon_search:before { content: '\e806'; } /* '' */
.icon_plus:before { content: '\e807'; } /* '' */
.icon_th_list:before { content: '\e808'; } /* '' */
.icon_user:before { content: '\e809'; } /* '' */
.icon_lock:before { content: '\e80a'; } /* '' */
.icon_down:before { content: '\e80c'; } /* '' */
.icon_export:before { content: '\e80d'; } /* '' */
.icon_resize_full:before { content: '\e80e'; } /* '' */
.icon_resize_small:before { content: '\e80f'; } /* '' */
.icon_play_1:before { content: '\e810'; } /* '' */
.icon_pause_1:before { content: '\e811'; } /* '' */
.icon_shuffle:before { content: '\e812'; } /* '' */
.icon_loop:before { content: '\e813'; } /* '' */
.icon_switch:before { content: '\e814'; } /* '' */
.icon_to_end_1:before { content: '\e815'; } /* '' */
.icon_to_start_1:before { content: '\e816'; } /* '' */
.icon_cancel:before { content: '\e817'; } /* '' */
.icon_plus_1:before { content: '\e818'; } /* '' */
.icon_play_2:before { content: '\e819'; } /* '' */
.icon_stop:before { content: '\e81a'; } /* '' */
.icon_fast_fw:before { content: '\e81b'; } /* '' */
.icon_rewind:before { content: '\e81c'; } /* '' */
.icon_download:before { content: '\e81d'; } /* '' */
.icon_play_3:before { content: '\e81e'; } /* '' */
.icon_googleplay:before { content: '\e81f'; } /* '' */
.icon_to_start_2:before { content: '\e820'; } /* '' */
.icon_to_end_2:before { content: '\e821'; } /* '' */
.icon_pause_2:before { content: '\e822'; } /* '' */
.icon_download_alt:before { content: '\e823'; } /* '' */
.icon_lock_1:before { content: '\e824'; } /* '' */
.icon_lock_open:before { content: '\e825'; } /* '' */
.icon_cancel_1:before { content: '\e826'; } /* '' */
.icon_plus_2:before { content: '\e827'; } /* '' */
.icon_menu:before { content: '\f0c9'; } /* '' */
.icon_user_circle:before { content: '\f2bd'; } /* '' */
.icon_user_circle_o:before { content: '\f2be'; } /* '' */
