.main{
    min-height: 680px;
}

.recommend_m_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.recommend_s_list {
    display: flex;
    flex-wrap: wrap;
}
