.playBar{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.showBtn{
    display: flex;
    justify-content: flex-end;
}
.md .icon_lock_open{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width:40px;
    height:25px;
    background-color: #444141;
    color:#fff;
    margin-right: 20px;
}
.md .playBar_content_bg{
    background-color: #444141;
}
.md .playBar_content{
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
}

.md .control span{
    padding:0 15px;
}
.md .play{
    display: flex;
    align-items: center;
}
.md .songInfo{
    display: flex;
    flex-direction: column;
    padding:0 15px;
}
.md .play .bar_bg{
    width:300px;
    height: 10px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}
.md .play .bar{
    position: absolute;
    left: 0;
    width: 30px;
    height: 10px;
    border-radius: 8px;
    background-color: red;
}
.md .play .times{
    margin:0 20px;
    font-size: 14px;
}
.md .play .play_type{

}
.md .play .play_type span{
    padding:0 10px;
}
