.fm {
    position: fixed;
    bottom: 160px;
    left: 0;
}
.fm .player {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.fm .up:hover {
    background: rgba(0, 0, 0, 0.3);
}

.fm .up {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 4px 4px 0;
}

.fm .player img {
    border-radius: 0 4px 4px 0;
}
.fm .player_show{
    transform: translateX(0px);
    transition: all 0.5s ease 0.6s;
}
.fm .player_hide{
    transform: translateX(-85px);
    transition: all 0.5s ease 0.3s;
}
.fm .player_icon {
    position: absolute;
    color: #fff;
}

.fm .playerBox_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
}

.fm .playerBox {
    display: flex;
    align-items: center;
}
.fm .playBar_bg{
    position: absolute;
    left: -906px;
}
.fm .playBar {
    display: flex;
    align-items: center;
}
.fm .playBar_show {
    left: 0px;
    transition: all 0.5s ease 0.6s;
}
.fm .playBar_hide {
    left: -906px;
    transition: all 0.5s ease 0.3s;
}
.fm .showBtn {
    float: left;
    width: 20px;
    height: 60px;
    display: none;
}

.fm .icon_lock_open {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, 0.9);
    color: #fff;
    border-radius: 4px;
    margin-left: 1px;
}

.fm .playBar_content {
    background: rgba(52, 52, 52, 0.9);
    clear: both;
    width: 800px;
    border-radius: 4px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.fm .control span {
    padding: 0 15px;
}

.fm .play {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.fm .songInfo {
    display: flex;
    margin-bottom: 10px;
}

.fm .songInfo span {
    margin-right: 10px;
}

.fm .line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fm .play .bar_bg {
    width: 300px;
    height: 2px;
    border-radius: 8px;
    background-color: rgba(232,223,223,0.5);
    position: relative;
    display: flex;
    align-items: center;
}

.fm .play .bar {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    border-radius: 8px;
    background-color: #fff;
}
.fm .play .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.fm .play .times {
    margin: 0 20px;
    font-size: 12px;
}

.fm .play_type {

}

.fm .play_type a{
    color: #fff;
}

.fm .play_type span {
    padding: 0 10px;
    font-size: 18px;
}

.fm .hideBtn {
    height: 80px;
    display: flex;
    align-items: center;
    width: 25px;
    background: rgba(52, 52, 52, 0.9);
    justify-content: center;
    border-radius: 4px;
    margin-left: 1px;
    color: #fff;
}
